
@import '../../scss/variables';

@mixin h-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin station-name {
    color: $stationName;
    font-size: 22px;

    
}

@mixin custom-btn {
    cursor: pointer;
    
}

.grid-Container{
    margin-top: 20px;
    height: 530px;
    display: grid;
    // grid-template-columns: repeat(2, 1fr );
    grid-template-columns: 400px 400px;
    column-gap: 30px;
    background-color: $bgColor;
    padding: 30px;


}

.grid-item{
    background-color: $itemColor;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.divider-station{
    height: 1px;
    background-color: #707070;
    border: none;
    
}

.radio-header{
    @include h-center;
    color:$bodyFontColor;
    background-color: $headerBgColor;
    border-radius:12px 12px 0 0 ;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    padding: 0 20px;
    height: 80px;
    
}

.radio-body{
    padding: 0 25px;
    overflow-y: scroll;
    height: 350px;

    // Hide scrollbar

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none; //chrome
    }

}


.station-container{
    padding-left: 0;
    margin: 0;

}

.station-title{
    @include h-center;
    @include station-name;
    list-style-type: none;
    cursor: pointer;
    
}


.station-gap{ 
    margin: 15px 0;
 }

.select-station{
    height: 170px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: auto;
    padding: 10px 0;
}

.btn-container{
    @include centered;
}
.custom-button{
    
    @include custom-btn;
    
}


.radio-footer{
    height: 75px;
    
    .current-station{
        padding-top: 7px;
        color: $currentTitle;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0
    }
    .current-playing{
        @include station-name;
        margin:  0;

    }

}


