
@import './variables';

@mixin centered {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin custom-hw {
    height: 100vh;
    width: 100vw;
  
}

.manage-station{
  @include custom-hw;
  background-color: $tableBg;
  padding: 30px;

}
.table-container{
  
    @include centered;
   

    
    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;

    th{
        background-color: wheat;
        
    }
    
    td, th {
      border: 1px solid #080808;
      text-align: left;
      padding: 10px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
   
  }

  // add station

  .form-center{
    @include centered;
    @include custom-hw;
  }

  .form-container{

    width: 40vw;
    background-color: aliceblue;
    padding: 40px;


  }

  .form-lebel{
    display: block;
    text-align: start;
    font-size: 20px;
    font-weight: 500;



  }
  
  .form-input{
    width: 100%;
    border-radius: 12px;
    font-size: 18px;
    padding: 10px;

  }

  .submit-btn{
    font-weight: 500;
    background-color: rgb(4, 125, 206);
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 12px;
    color: white;
    margin-top: 15px;
    border: none;
    

  }

  //login page
  .login-container{
    @include centered;
    flex-direction: column;
    background-color: rgb(162, 201, 201);
    width: 30vw;
    height: 50vh;
    margin-top: 30px;
    border-radius: 12px;

  }